*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(76, 126, 0);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(6, 23, 1) 100%);
    justify-content: space-between;
}

body>* {
    margin-top: 1rem;
}

span {
    position: relative;
    bottom: 1rem;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.header h1 {
    font-family: 'Handjet', cursive;
    font-weight: 300;
    font-size: 128px;
}

button{
    background-color: black;
    color: rgb(76, 126, 0);
    border: 2px dashed rgb(76, 126, 0);
    padding: 1rem 2rem;
}

button:hover{
    background-color: rgba(76, 126, 0, .5);
}

.active{
    background: rgba(76, 126, 0, .3);
}

.header span{
    font-size: 4rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 6rem;
    margin-right: 28px;
}

.controls {
    margin-right: 2rem;
}

h3 {
    font-family: 'Handjet';
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.etch {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    min-width: 560px;
}

.main {
    display: flex;
    margin-bottom: 8rem;
}

.cell {
    background-color: rgb(76, 126, 0);
    border: 1px solid black;
}

.SM {

    min-width: 2rem;
    min-height: 2rem;
}

.MD {

    min-width: 1rem;
    min-height: 1rem;
}

.LG{
    min-width: .5rem;
    min-height: .5rem;
}

.footer {
    margin-bottom: 4rem;
    font-family: 'Handjet';
}

.hide{
    display: none !important;
}

.header .cursor{
    left: 1rem;
    font-size: 6rem;
}

#btn-clear{
    margin-top: 2.5rem;
}

.controls{
}

.controls button{/* 
    padding: .8rem 1.2rem;
    position: relative;
    top: -2rem; */
}